---
layout: default
---
<section id="intro">
    <div class="flex-row-between">
        <h1>Hi, 👋</h1>
            <a href="https://www.linkedin.com/in/paul-boes/" title="LInkedIn" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://twitter.com/_paulboes_" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                    class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://scholar.google.co.uk/citations?hl=en&user=VeADakcAAAAJ" title="Google Scholar" target="_blank" rel="noopener noreferrer"><i
                        class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                        <a href="https://github.com/pboes" title="Github" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-github" aria-hidden="true"></i></a>  
        <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
            <div></div>
        </button>
    </div>
    <div class="bio">
        <p>
            my name is Paul and I am a data scientist and operations researcher with an academic background in phyics (especially quantum information theory), 
            economics and philosophy of science. On this blog I write about various things that I find interesting, which includes things like the historical and social aspects of science, quantum technology, 
            clear explanations of concepts involving statistics, things that people call "crypto", economics. Some time ago I also had strong feelings about Kant and epistemology of science, but since 
            I could never actually articulate them, I've given up on that... 
        </p>
    </div>


</section>


<!-- 
<div class="search-article">
    <label for="search-input" aria-hidden="true">
       
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </label>

    <input type="search" id="search-input" placeholder="Find some content here" aria-label="Search">
    <ul id="search-results"></ul>
</div> -->

<section class="posts" id="Blog">
    <h2>BLOG</h2>
    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="posts" id="Blog">
    <h2>SOME PROJECTS</h2>
    <p>I have yet to migrate these from my <a href="https://beingbutlumps.wordpress.com/projects/">old blog</a>.</p>
    <!-- <ul>
         {% for page in site.pages %}
        <li>
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time>
        </li>
        {% endfor %} 
    </ul> -->
</section>

<section class="posts" id="Blog">
    <h2>SOME OLD UNI ESSAYS</h2>
    <ul>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/bachelor_final_color.pdf">On the cost of being uncertain</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/north_hist.pdf">Coasian reasoning and mental models in D. C. North’s theory of institutional economics</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/pboes-info.pdf">On providing reconstructions of Quantum Mechanics using information theoretic concepts</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/pboes-structural-realism1.pdf">Individuation in moderate structural realism about spacetime</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/pooley_kant.pdf">The implications of Kant's Dialectic for the question of the world's temporal extension</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/conditions_Einstein.pdf">Conditions for the Ontic Treatment of Mathematics</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/assets/pdfs/sounds-from-noise.pdf">Sounds from Noise</a>
        </li>
    </ul>
</section>